includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - app
        - packages/Auth
        - packages/Family
        - packages/Bookshelf
        - packages/ReadLog
        - packages/Shared
